<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <title>Chatpy with flask and SocketIO</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
    <div class="container">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">Chat</h3>
        </div>
        <div class="card-body">
          <ul id="mensajes">
          </ul>
        </div>
        <div class="card-footer">
          <form action="" method="post" class="form-inline">
            <input class="form-control ml-1" id="txtUsername" type="text" name="mensaje" placeholder="Ingrese su usuario">
            <input class="form-control ml-1" id="txtMensaje" type="text" name="mensaje" placeholder="Ingrese su Mensaje">
            <button id="send" class="btn btn-sm btn-primary ml-1" type="submit" name="button">Enviar</button>
          </form>
        </div>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.dev.js"></script>
    
    <script type="text/javascript">

      var socket = io.connect('http://' + document.domain + ':' + location.port);

      socket.on('connect', function(){
        socket.emit('message', {data: 'Used Connected!'});
        var form = $('form').on('submit', function(e){
          e.preventDefault()

          let Username = $('#txtUsername').val();
          let Mensaje = $('#txtMensaje').val();
          socket.emit('message', {
            username:Username,
            mensage:Mensaje
          })
          $('#txtUsername').val(Username);
          $('#txtMensaje').val('').focus();
        })
      })

      socket.on('response', function(msg){
        console.log(msg)
        if (typeof msg.username !== 'undefined'){
          $("#mensajes").append("<li><strong>" + msg.username + "</strong>: " + msg.mensage + "</li>");
        }
      });

    </script>
  </body>
</html>
